---
title: "ECCL Cover Gallery"
layout: page
excerpt: "ECCL - Cover Gallery"
sitemap: false
permalink: /cover-gallery/
---

<p>
  Journal cover images associated with our publications.
</p>

<div class="row cover-gallery">
  {% for item in site.data.cover_gallery %}
    <div class="col-sm-4 col-xs-12">
      <figure class="cover-card">

        {% assign img_path = "/images/pubpic/" | append: item.image %}

        <a href="{{ img_path }}">
          <img class="img-responsive cover-img"
               src="{{ img_path }}"
               alt="{{ item.alt | escape }}"
               loading="lazy">
        </a>

        <figcaption class="cover-caption">

          {% if item.title %}
            <div class="cover-title">{{ item.title }}</div>
          {% endif %}

          {% if item.text %}
            <div class="cover-text">{{ item.text }}</div>
          {% endif %}

          {% if item.links %}
            <div class="cover-links">
              {% for l in item.links %}
                <a href="{{ l.url }}"
                   {% if l.url contains 'http' %}rel="noopener noreferrer"{% endif %}>
                  {{ l.display }}
                </a>{% unless forloop.last %} &nbsp;|&nbsp; {% endunless %}
              {% endfor %}
            </div>
          {% endif %}

        </figcaption>
      </figure>
    </div>
  {% endfor %}
</div>
